<h1>List of Articles</h1>

<p>
    <%= link_to "Create New", new_article_path %>
</p>

<ul>
<% @articles.each do |article| %>
    <li>
        <h3><%= article.title %></h3>
        <p><%= article.description %></p>
        <%= link_to "Edit", edit_article_path(article) %>
        <%= link_to "Show", article_path(article) %>
        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure"} %>
        <hr />
    </li>
<% end %>
</ul>
